.FormControl .error input {
    border-bottom: 2px solid red !important;
}

.FormControl .error span {
    color: red;
    text-decoration: underline;
}

.someError {
    border-bottom: 2px solid red;
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
}