.currentPage{
    font-weight: bolder;
    background-color: #431180;
    color: white;
}
.pagination{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.pagination span{
    border: 1px solid #431180;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.changePortion{
    border: 0px;
    outline: none;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
}
