.App {

}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
.mainApp{
    display: flex;
}
@media screen and (max-width:800px) {
    .mainApp{
        display: block;
        overflow: hidden;
    }
}